In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv('Car_sales.csv')
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33.0,9/11/2011,48.297636
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,9/28/2011,83.483094
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21.0,6/13/2011,125.273876
83,Mitsubishi,3000GT,0.110,20.940,Passenger,25.450,3.0,161.0,97.2,72.4,180.3,3.131,19.8,21.0,6/29/2012,67.544155
34,Chrysler,300M,30.696,NaN,Passenger,29.185,3.5,253.0,113.0,74.4,197.8,3.567,17.0,23.0,2/10/2012,101.655244
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,180.0,2.367,12.1,33.0,3/16/2011,40.700072
69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,181.5,3.880,20.5,19.0,12/10/2011,80.387779
100,Mercedes-B,M-Class,28.976,NaN,Car,35.300,3.2,215.0,111.0,72.2,180.6,4.387,19.0,20.0,2/10/2011,90.495532
141,Toyota,Sienna,65.119,NaN,Car,22.368,3.0,194.0,114.2,73.4,193.5,3.759,20.9,22.0,10/5/2012,78.027219

In [4]:
data.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [6]:
data.tail(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841
150,Volkswagen,Beetle,49.463,NaN,Passenger,15.90,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,10/20/2011,47.329632
151,Volvo,S40,16.957,NaN,Passenger,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

### Drop na

In [7]:
data.columns

Index(['Manufacturer', 'Model', 'Sales_in_thousands', '__year_resale_value',
       'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity',
       'Fuel_efficiency', 'Latest_Launch', 'Power_perf_factor'],
      dtype='object')

In [5]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

In [11]:
data.values

array([['Acura', 'Integra', 16.919, ..., 28.0, '2/2/2012', 58.28014952],
       ['Acura', 'TL', 39.384, ..., 25.0, '6/3/2011', 91.37077766],
       ['Acura', 'CL', 14.114, ..., 26.0, '1/4/2012', nan],
       ...,
       ['Volvo', 'V70', 17.531, ..., 25.0, '6/25/2011', 71.1559776],
       ['Volvo', 'C70', 3.493, ..., 23.0, '4/26/2011', 101.6233572],
       ['Volvo', 'S80', 18.969, ..., 24.0, '11/14/2011', 85.73565451]],
      dtype=object)

In [12]:
data.shape

(157, 16)

In [13]:
data.size

2512

### Checking the contents in latest launch column

In [22]:
data.Latest_Launch.nunique()

130

#### Change its datatype in to datetime

In [8]:
data['Latest_Launch']=pd.to_datetime(data.Latest_Launch)

In [9]:
data.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703

### Check the dtype of it

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 15.5+ KB

## Extracting year, month ,day from the latest_launch column

In [13]:
data['year']=pd.DatetimeIndex(data.Latest_Launch).year

In [14]:
data['month']=pd.DatetimeIndex(data.Latest_Launch).month

In [15]:
data['day']=pd.DatetimeIndex(data.Latest_Launch).day

In [16]:
data.head(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,9
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2012-02-27,134.656858,2012,2,27
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,2012-01-29,81.877069,2012,1,29
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,2011-04-04,83.998724,2011,4,4
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451,2011,11,2
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703,2011,9,3

### Lets convert the data type of fuel efficiency into integer

In [18]:
data.Fuel_efficiency = data.Fuel_efficiency.astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    int64
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

## Converting numerical column into categorical column

In [19]:
data.month.replace({
    1:'JANUARY',
    2:'FEBRUARY',
    3:'MARCH',
    4:'APRIL',
    5:'MAY',
    6:'JUNE',
    7:'JULY',
    8:'AUGUST',
    9:'SEPTEMBER',
    10:'OCTBER',
    11:'NOVEMBER',
    12:'DECEMBER'
},inplace=True)

In [20]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
80,Mitsubishi,Eclipse,42.541,10.395,Passenger,19.047,2.4,154.0,100.8,68.9,175.4,2.910,15.9,24,2012-11-24,62.441962,2012,NOVEMBER,24
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,190.4,3.051,15.0,25,2012-03-19,67.314462,2012,MARCH,19
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21,2012-12-21,134.390975,2012,DECEMBER,21
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200.0,107.3,69.9,186.6,4.520,24.3,18,2012-01-17,83.920815,2012,JANUARY,17
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21,2011-06-13,125.273876,2011,JUNE,13
73,Lexus,LS400,6.375,40.375,Passenger,54.005,4.0,290.0,112.2,72.0,196.7,3.890,22.5,22,2012-03-29,124.446716,2012,MARCH,29
102,Nissan,Altima,88.094,11.295,Passenger,20.390,2.4,155.0,103.1,69.1,183.5,3.012,15.9,25,2011-08-02,63.313728,2011,AUGUST,2
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.567,12.5,29,2011-12-12,52.084899,2011,DECEMBER,12
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22,2011-09-28,83.483094,2011,SEPTEMBER,28
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,AUGUST,27

### Label encoder

In [22]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le=LabelEncoder()

In [25]:
data["le_vehicle"]= le.fit_transform(data.Vehicle_type)

In [26]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_vehicle
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23,2012-01-14,47.389531,2012,JANUARY,14,0
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17,2012-03-06,90.211700,2012,MARCH,6,0
36,Dodge,Avenger,4.734,12.545,Passenger,19.045,2.5,163.0,103.7,69.1,190.2,2.879,15.9,24,2012-07-01,65.650508,2012,JULY,1,1
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,183.2,3.203,15.7,24,2012-01-31,76.509185,2012,JANUARY,31,1
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,215.3,4.121,19.0,21,2012-06-04,93.957917,2012,JUNE,4,1
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,179.7,3.210,19.1,22,2012-05-12,141.141150,2012,MAY,12,1
121,Pontiac,Grand Prix,92.364,14.010,Passenger,21.665,3.8,195.0,110.5,72.7,196.5,3.396,18.0,25,2012-10-15,78.318168,2012,OCTBER,15,1
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,189.4,3.823,21.1,25,2011-07-12,98.249737,2011,JULY,12,1
37,Dodge,Stratus,71.186,10.185,Passenger,20.230,2.5,168.0,108.0,71.0,186.0,3.058,16.0,24,2011-10-31,67.876108,2011,OCTBER,31,1
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,180.0,2.367,12.1,33,2011-03-16,40.700072,2011,MARCH,16,1

In [28]:
data['le_manufacturer'] = le.fit_transform(data.Manufacturer)

In [29]:
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_vehicle,le_manufacturer
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,...,3.843,19.0,22,2011-11-27,113.765874,2011,NOVEMBER,27,1,4
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,...,3.472,18.5,25,2011-04-04,83.998724,2011,APRIL,4,1,2
114,Plymouth,Neon,32.734,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,...,2.559,12.5,29,2011-04-26,52.084899,2011,APRIL,26,1,20
137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,...,2.998,18.5,27,2011-02-10,54.372420,2011,FEBRUARY,10,1,24
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,...,3.902,23.7,21,2012-02-27,134.656858,2012,FEBRUARY,27,1,1
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,...,2.676,14.3,27,2011-08-17,46.363347,2011,AUGUST,17,1,5
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,...,3.778,18.5,24,2012-03-23,85.828408,2012,MARCH,23,1,3
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,...,3.591,17.5,25,2011-07-23,84.254526,2011,JULY,23,1,3
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,OCTBER,8,1,1
139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,...,2.425,14.5,31,2012-12-29,56.496030,2012,DECEMBER,29,1,24

In [31]:
data['le_model'] = le.fit_transform(data.Model)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_vehicle,le_manufacturer,le_model
43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,...,22.0,19,2011-11-25,49.645002,2011,NOVEMBER,25,0,7,40
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,...,19.0,22,2012-08-28,84.830779,2012,AUGUST,28,1,17,42
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,...,16.4,27,2012-10-30,61.701381,2012,OCTBER,30,1,25,82
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,...,19.5,20,2012-05-18,70.660942,2012,MAY,18,0,17,75
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,...,26.0,21,2012-02-25,62.095048,2012,FEBRUARY,25,0,8,114
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200.0,107.3,69.9,...,24.3,18,2012-01-17,83.920815,2012,JANUARY,17,0,17,74
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,...,17.0,21,2012-12-21,134.390975,2012,DECEMBER,21,1,22,24
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,...,18.5,25,2011-04-04,83.998724,2011,APRIL,4,1,2,3
143,Toyota,4Runner,68.411,19.425,Car,22.288,2.7,150.0,105.3,66.5,...,18.5,23,2011-03-07,62.355577,2011,MARCH,7,0,24,2
49,Ford,Taurus,245.815,10.055,Passenger,17.885,3.0,155.0,108.5,73.0,...,16.0,24,2011-12-20,62.503740,2011,DECEMBER,20,1,8,109

In [32]:
data['le_Sales_in_thousands'] = le.fit_transform(data.Sales_in_thousands)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,...,24,2012-01-16,65.957184,2012,JANUARY,16,1,6,101,14
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200.0,107.3,69.9,...,18,2012-01-17,83.920815,2012,JANUARY,17,0,17,74,22
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,...,20,2012-10-05,76.584440,2012,OCTBER,5,0,12,29,90
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,...,22,2011-09-28,83.483094,2011,SEPTEMBER,28,1,4,25,21
149,Volkswagen,GTI,5.596,13.760,Passenger,17.500,2.0,115.0,98.9,68.3,...,26,2011-04-01,47.946841,2011,APRIL,1,1,25,54,10
131,Saturn,SW,5.223,10.790,Passenger,14.290,1.9,124.0,102.4,66.4,...,31,2011-01-15,49.865774,2011,JANUARY,15,1,23,98,8
29,Chrysler,Sebring Conv.,32.775,14.180,Passenger,24.495,2.5,168.0,106.0,69.2,...,24,2011-11-17,69.521355,2011,NOVEMBER,17,1,6,100,61
67,Jeep,Wrangler,55.557,13.475,Car,14.460,2.5,120.0,93.4,66.7,...,17,2012-03-04,48.672898,2012,MARCH,4,0,12,115,76
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,...,19,2012-10-09,83.602501,2012,OCTBER,9,0,9,83,24
73,Lexus,LS400,6.375,40.375,Passenger,54.005,4.0,290.0,112.2,72.0,...,22,2012-03-29,124.446716,2012,MARCH,29,1,13,65,12

In [33]:
data['le_ __year_resale_value'] = le.fit_transform(data. __year_resale_value)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Latest_Launch,Power_perf_factor,year,month,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value
87,Mercury,Cougar,26.529,13.890,Passenger,16.540,2.0,125.0,106.4,69.6,...,2012-02-23,51.113474,2012,FEBRUARY,23,1,16,37,50,55
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,...,2011-06-03,91.370778,2011,JUNE,3,1,0,107,67,84
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92.0,96.1,65.7,...,2012-09-10,36.672284,2012,SEPTEMBER,10,1,10,7,68,1
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,...,2011-08-09,84.565105,2011,AUGUST,9,1,1,5,35,94
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,...,2012-06-04,93.957917,2012,JUNE,4,1,14,110,73,91
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,...,2011-09-11,48.297636,2011,SEPTEMBER,11,1,5,85,58,11
69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,...,2011-12-10,80.387779,2011,DECEMBER,10,0,12,58,107,79
64,Hyundai,Sonata,29.450,8.910,Passenger,14.999,2.4,148.0,106.3,71.6,...,2012-06-14,58.758249,2012,JUNE,14,1,10,104,55,10
143,Toyota,4Runner,68.411,19.425,Car,22.288,2.7,150.0,105.3,66.5,...,2011-03-07,62.355577,2011,MARCH,7,0,24,2,83,81
31,Chrysler,Cirrus,32.306,12.640,Passenger,16.480,2.0,132.0,108.0,71.0,...,2011-10-06,53.566200,2011,OCTBER,6,1,6,30,59,37

In [34]:
data['le_Vehicle_type'] = le.fit_transform(data.Vehicle_type)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Power_perf_factor,year,month,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,76.096570,2011,JUNE,25,0,19,103,44,64,0
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,...,58.280150,2012,FEBRUARY,2,1,0,62,31,68,1
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,...,84.254526,2011,JULY,23,1,3,67,93,46,1
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,...,135.914710,2011,JULY,11,1,22,23,5,113,1
103,Nissan,Maxima,79.853,15.125,Passenger,26.249,3.0,222.0,108.3,70.3,...,89.427820,2011,MAY,6,1,18,70,89,63,1
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,...,48.297636,2011,SEPTEMBER,11,1,5,85,58,11,1
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,...,72.290355,2011,SEPTEMBER,25,0,18,84,70,76,0
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,...,134.656858,2012,FEBRUARY,27,1,1,6,4,105,1
138,Toyota,Avalon,63.849,18.140,Passenger,25.545,3.0,210.0,107.1,71.7,...,84.911898,2011,AUGUST,31,1,24,11,80,77,1
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,...,71.135292,2012,JANUARY,6,0,7,91,29,67,0

In [35]:
data['le_Price_in_thousands'] = le.fit_transform(data.Price_in_thousands)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,year,month,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.700,2.0,115.0,98.9,68.3,...,2011,AUGUST,27,1,25,63,94,43,1,25
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,...,2012,MAY,18,0,17,75,65,54,0,63
21,Chevrolet,Lumina,24.629,10.310,Passenger,18.890,3.1,175.0,107.5,72.5,...,2011,MAY,24,1,5,68,46,21,1,37
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92.0,96.1,65.7,...,2012,SEPTEMBER,10,1,10,7,68,1,1,1
54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,...,2012,SEPTEMBER,14,0,8,49,101,95,0,96
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,...,2011,OCTBER,8,1,1,4,39,92,1,66
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,...,2011,MARCH,17,1,15,97,6,111,1,115
131,Saturn,SW,5.223,10.790,Passenger,14.290,1.9,124.0,102.4,66.4,...,2011,JANUARY,15,1,23,98,8,25,1,15
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,...,2011,JULY,11,1,22,23,5,113,1,114
120,Pontiac,Firebird,19.911,17.805,Passenger,25.310,3.8,200.0,101.1,74.5,...,2012,JUNE,16,1,21,52,36,75,1,71

In [36]:
data['le_Engine_size'] = le.fit_transform(data.Engine_size)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,month,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size
26,Chevrolet,Metro,21.855,5.160,Passenger,9.235,1.0,55.0,93.1,62.6,...,APRIL,13,1,5,71,40,0,1,0,0
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,JUNE,25,0,19,103,44,64,0,72,16
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,...,JULY,23,1,3,67,93,46,1,82,18
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,...,MAY,31,1,25,19,18,69,1,46,5
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,...,MARCH,21,0,9,18,86,74,0,49,5
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,...,FEBRUARY,27,1,1,6,4,105,1,110,21
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,...,MARCH,16,1,23,95,45,23,1,7,4
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,...,MARCH,6,0,7,89,111,61,0,42,26
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,...,OCTBER,8,1,1,4,39,92,1,66,3
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,...,MAY,8,1,6,64,25,72,1,83,17

In [37]:
data['le_Wheelbase'] = le.fit_transform(data.Wheelbase)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,day,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase
103,Nissan,Maxima,79.853,15.125,Passenger,26.249,3.0,222.0,108.3,70.3,...,6,1,18,70,89,63,1,76,12,46
143,Toyota,4Runner,68.411,19.425,Car,22.288,2.7,150.0,105.3,66.5,...,7,0,24,2,83,81,0,61,10,32
79,Mitsubishi,Mirage,26.232,8.325,Passenger,13.987,1.8,113.0,98.4,66.5,...,23,1,17,72,48,6,1,14,3,11
22,Chevrolet,Monte Carlo,42.593,11.525,Passenger,19.390,3.4,180.0,110.5,72.7,...,22,1,5,73,71,32,1,41,16,52
108,Oldsmobile,Cutlass,1.112,11.240,Passenger,18.145,3.1,150.0,107.0,69.4,...,31,1,19,39,2,28,1,34,13,39
136,Toyota,Corolla,142.535,10.025,Passenger,13.108,1.8,120.0,97.0,66.7,...,11,1,24,35,104,17,1,10,3,7
137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,...,10,1,24,21,114,44,1,32,6,31
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,...,28,1,17,42,11,69,1,69,17,40
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,...,27,1,4,47,13,96,1,101,23,44
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,...,18,0,17,75,65,54,0,63,12,41

In [39]:
data['le_Horsepower'] = le.fit_transform(data.Horsepower)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_vehicle,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,...,1,3,93,66,50,1,70,18,49,47
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,...,1,9,31,109,16,1,9,2,24,3
121,Pontiac,Grand Prix,92.364,14.010,Passenger,21.665,3.8,195.0,110.5,72.7,...,1,21,60,98,56,1,57,18,52,35
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,...,1,6,64,25,72,1,83,17,57,49
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,...,1,2,3,32,103,1,99,11,53,34
42,Dodge,Ram Van,31.038,13.425,Car,18.575,3.9,175.0,127.2,78.8,...,0,7,90,56,47,0,35,19,70,30
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,...,1,7,79,88,3,1,8,5,29,13
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,...,0,18,84,70,76,0,85,15,35,28
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,...,1,4,25,21,78,1,87,12,42,36
114,Plymouth,Neon,32.734,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,...,1,20,79,60,3,1,8,5,29,13

In [40]:
data['le_Width'] = le.fit_transform(data.Width)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_manufacturer,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower,le_Width
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,...,21,13,64,42,1,65,18,56,37,42
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,...,6,64,25,72,1,83,17,57,49,50
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,...,15,17,34,97,1,90,7,33,32,9
86,Mercury,Mystique,14.351,8.800,Passenger,16.240,2.0,125.0,106.5,69.1,...,16,78,27,8,1,21,5,37,10,17
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,...,7,91,29,67,0,51,19,50,30,63
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,...,19,103,44,64,0,72,16,67,32,38
129,Saturn,SL,80.620,9.200,Passenger,10.685,1.9,100.0,102.4,66.4,...,23,96,91,12,1,2,4,21,2,2
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,...,8,77,100,38,1,54,18,19,33,45
70,Lexus,ES300,24.072,26.975,Passenger,31.505,3.0,210.0,105.1,70.5,...,13,44,42,98,1,88,12,30,38,28
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,...,7,79,88,3,1,8,5,29,13,50

In [41]:
data['le_Length'] = le.fit_transform(data.Length)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_model,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower,le_Width,le_Length
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,...,48,84,2,1,6,5,11,4,6,16
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,...,51,116,62,0,80,23,72,41,64,101
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,...,1,17,99,1,94,11,41,34,15,19
149,Volkswagen,GTI,5.596,13.760,Passenger,17.500,2.0,115.0,98.9,68.3,...,54,10,51,1,31,5,12,6,13,3
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,...,85,58,11,1,13,3,8,8,4,13
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,...,107,67,84,1,84,14,45,44,26,65
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200.0,107.3,69.9,...,74,22,80,0,91,17,41,36,23,48
108,Oldsmobile,Cutlass,1.112,11.240,Passenger,18.145,3.1,150.0,107.0,69.4,...,39,2,28,1,34,13,39,21,19,62
23,Chevrolet,Camaro,26.402,13.025,Passenger,24.340,3.8,200.0,101.1,74.1,...,20,49,39,1,67,18,17,36,49,67
111,Oldsmobile,Aurora,14.690,19.890,Passenger,36.229,4.0,250.0,113.8,74.4,...,10,28,85,1,97,20,59,48,50,91

In [42]:
data['le_Curb_weight'] = le.fit_transform(data.Curb_weight)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_Sales_in_thousands,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower,le_Width,le_Length,le_Curb_weight
80,Mitsubishi,Eclipse,42.541,10.395,Passenger,19.047,2.4,154.0,100.8,68.9,...,69,22,1,40,8,16,23,16,18,27
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,...,97,35,1,58,13,49,30,43,71,58
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,...,5,113,1,114,16,0,52,20,15,41
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,...,90,52,0,56,20,20,33,19,6,47
64,Hyundai,Sonata,29.450,8.910,Passenger,14.999,2.4,148.0,106.3,71.6,...,55,10,1,18,8,35,20,35,45,40
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,...,73,91,1,105,23,64,39,61,99,102
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,...,86,74,0,49,5,24,19,16,25,51
144,Toyota,Land Cruiser,9.835,34.080,Car,51.728,4.7,230.0,112.2,76.4,...,20,102,0,108,24,56,46,58,63,112
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,...,79,93,1,102,23,62,50,51,93,99
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,...,115,70,0,92,20,55,38,25,59,89

In [43]:
data['le_Fuel_capacity'] = le.fit_transform(data.Fuel_capacity)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_ __year_resale_value,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower,le_Width,le_Length,le_Curb_weight,le_Fuel_capacity
29,Chrysler,Sebring Conv.,32.775,14.180,Passenger,24.495,2.5,168.0,106.0,69.2,...,57,1,68,9,34,27,18,66,55,16
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,...,38,1,54,18,19,33,45,38,49,14
86,Mercury,Mystique,14.351,8.800,Passenger,16.240,2.0,125.0,106.5,69.1,...,8,1,21,5,37,10,17,43,21,10
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,...,73,0,78,14,36,37,27,27,87,34
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,...,27,1,23,13,39,28,19,57,38,10
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,...,11,1,13,3,8,8,4,13,6,5
65,Infiniti,I30,23.713,19.690,Passenger,29.465,3.0,227.0,108.3,70.2,...,83,1,86,12,46,45,25,69,57,26
129,Saturn,SL,80.620,9.200,Passenger,10.685,1.9,100.0,102.4,66.4,...,12,1,2,4,21,2,2,21,3,2
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,...,23,1,7,4,21,2,2,31,5,2
142,Toyota,RAV4,25.106,13.325,Car,16.888,2.0,127.0,94.9,66.7,...,45,0,27,5,3,12,4,4,17,13

In [44]:
data['le_Latest_Launch'] = le.fit_transform(data.Latest_Launch)
data.sample(10)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,le_Vehicle_type,le_Price_in_thousands,le_Engine_size,le_Wheelbase,le_Horsepower,le_Width,le_Length,le_Curb_weight,le_Fuel_capacity,le_Latest_Launch
42,Dodge,Ram Van,31.038,13.425,Car,18.575,3.9,175.0,127.2,78.8,...,0,35,19,70,30,63,95,108,44,91
83,Mitsubishi,3000GT,0.110,20.940,Passenger,25.450,3.0,161.0,97.2,72.4,...,1,73,12,9,25,40,32,46,30,87
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,...,1,50,3,36,21,15,41,36,18,102
104,Nissan,Quest,27.308,15.380,Car,26.399,3.3,170.0,112.2,74.9,...,0,77,15,56,28,53,73,100,31,6
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,...,1,107,14,54,42,29,54,84,34,23
54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,...,0,96,23,66,47,62,90,111,43,97
118,Pontiac,Sunfire,51.645,13.790,Passenger,21.610,2.4,150.0,104.1,68.4,...,1,55,8,27,21,14,36,26,10,58
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,...,1,6,5,11,4,6,16,10,4,73
23,Chevrolet,Camaro,26.402,13.025,Passenger,24.340,3.8,200.0,101.1,74.1,...,1,67,18,17,36,49,67,69,20,42
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,...,1,93,18,59,37,52,92,83,26,71